.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px; 
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.header h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  flex: 1;
}

button {
  background-color: #830d0d;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
  margin-left: 3px;
}

button:hover {
  background-color: #c41a1a;
  transform: scale(1.05); 
}

.App {
  padding-top: 80px;
}


.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

 .login-form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
} 

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
}

.login-box input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: auto;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #830d0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;
}

.login-box button:hover {
  background-color: #c41a1a;
}

.login-box p {
  text-align: center;
  margin-top: 20px;
}

.login-box p a {
  color: #007BFF;
  text-decoration: none;
}

.login-box p a:hover {
  text-decoration: underline;
}




